.hidden {
    display: none;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url(../images/FSU24-pattern-red.jpg);
    margin: 0;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.jeopardy-logo {
    height: 6em;
}

.fsu-logo {
    height: 6em;
    position: absolute;
    right: 20px;
    margin-right: 40px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px ;
    margin-left: 40px;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.next-game-button, .refresh-game-button {
    padding: 10px 20px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #ffffff7b;
}

.next-game-button {
    background-color: #ce070b;
    color: #fff;
}

.next-game-button:hover {
    background-color: #ff0e12;
}

.refresh-game-button {
    background-color: #ce070b; /* Matching color to next-game-button */
    color: #fff;
}

.refresh-game-button:hover {
    background-color: #ff0e12; /* Darker shade on hover */
}

.player-button {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #ce070b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid #ffffff7b;
}

.player-button:hover {
    background-color: #ff0e12;
}

.player-button span {
    margin-left: 5px;
}

.jeopardy-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    max-width: auto;
    margin: 0 40px;
    margin-bottom: 20px;
}

.jeopardy-cell, .category-cell {
    background-color: #212528;
    cursor: pointer;
    border: 2px solid #0b2748;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
}

.jeopardy-cell {
    color: #ffc107;
    font-size: 2.5em;
}

.category-cell {
     color: #fff;
    font-size: 2em;
}

.player-scores {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.hidden-cell {
    background-color: #888;
    color: #555;
    cursor: not-allowed;
}

#question-container, #answer-container {
    font-size: 3em;
    text-align: center;
}

#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c4b82;
    color: yellow;
    border: 2px solid #0b2748;
    margin-bottom: 20px;
    height: 65vh;
}

#answer-container {
    background-color: #173a67;
    color: white;
    border: 2px solid #0b2748;
}

a.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a.back-link:hover {
    text-decoration: underline;
}



