.hidden {
    display: none;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, #1c4b82, #173a67, #112c4d, #0b1d33) no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.jeopardy-logo {
    height: 80px;
}

.fsu-logo {
    height: 80px;
    position: absolute;
    right: 20px;
    margin-right: 40px;
}

.jeopardy-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    max-width: auto;
    margin: 0 40px;
    margin-bottom: 20px;
}

.jeopardy-cell, .category-cell {
    background-color: #1c4b82;
    cursor: pointer;
    border: 2px solid #0b2748;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
}

.jeopardy-cell {
    color: yellow;
    font-size: 2.5em;
}

.category-cell {
    color: white;
    font-size: 2em;

}

.player-scores {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.player-button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.player-button:hover {
    background-color: #23527c;
}

.player-button span {
    margin-left: 5px;
}

.next-game-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.next-game-button:hover {
    background-color: #c9302c;
}


#question-container, #answer-container {
    font-size: 3em;
    text-align: center;
}

#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c4b82;
    color: yellow;
    border: 2px solid #0b2748;
    margin-bottom: 20px;
    height: 65vh;
}

#answer-container {
    background-color: #173a67;
    color: white;
    border: 2px solid #0b2748;
}

a.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a.back-link:hover {
    text-decoration: underline;
}
